.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
  background: linear-gradient(to right, #0077b6, #00b4d8);
  color: white;
}

.landing-text h2 {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}

.cta-btn {
  margin-top: 1rem;
  background-color: white;
  color: #0077b6;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #caf0f8;
}
