* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #f9fafc;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}
